extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Victor Stanciu

        p Full Stack JavaScript Developer 💻 | Lifelong Learner 📚

        .about-bio

          p I am 24 years old, with a Master's Degree in 'Applied Informatics in Electrical Engineering'. I recently discovered my passion and interest in web development, and couldn't stop coding since.


      .skills-contact-box.box
        h6 Skills

        ul
          li JavaScript
          li Git and GitHub
          li VS Code
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
          li Accessibility
          li OOP

        h6 Contact Info

        ul
          li +40 722-431-901
          li victor.stanciu@yahoo.com

        a.btn-link(href='https://www.linkedin.com/in/victor-stanciu-b29442184/', target="_blank") LinkedIn
        a.btn-link(href='https://github.com/StanciuVictor', target="_blank") GitHub
        //- a.btn-link(href='') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back