extends layout.pug

block content

  article.portfolio-intro

    nav.nav
      a(href='/')
        span &larr;
        |  Go Home
        
    h1 Oops! 

    h2= `${err.status} - ${err.message}`

    pre #{err.stack}